<!--
<h1 id="title">Thought</h1>
-->
<p>
<a href="atom.xml"> <img src="/images/atom.webp" width="16" style="background-color:#d65906;"  alt="atom feed"/> Blog Feed</a>
<div id="blog-index"> </div>
</p>

<div id='noreact'/>
