<script src="https://files.stork-search.net/stork.js"></script>

<p>
<div id="search-index"> </div>
Search within the site:
<div class="stork-wrapper">
    <input data-stork="federalist" />
    <div data-stork="federalist-output"></div>
</div>
<script>
    stork.register("federalist", "/stork-index.st", {});
</script>
</p>
<link rel="stylesheet" href="/search/basic.css" />
<div id='noreact'/>
