<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

</style>
<body>

<!-- Header -->
<div class="header">
  <h1>Vincennes</h1>
  <p></p>
</div>


<!-- Photo Grid
<img src="/images/gallery/silex/20200412_123003.webp" stype="width:100%">
-->
<div class="row">
  <div class="column">
  <a  href="/images/gallery/vincennes/medium-20200713_150518.webp">
   <img  src="/images/gallery/vincennes/medium-20200713_150518.webp">
  </a>
  </div>
  <div class="column">
<a href="/images/gallery/vincennes/medium-20200713_150537.webp" >
<img  src="/images/gallery/vincennes/medium-20200713_150537.webp">
  </a>
  </div>
  <div class="column">
<a href="/images/gallery/vincennes/medium-20200713_150537.webp">
<img  src="/images/gallery/vincennes/medium-20200713_150605.webp">
  </a>
  </div>
  <div class="column">
<a href="/images/gallery/vincennes/medium-20200713_150605.webp">
<img  src="/images/gallery/vincennes/medium-20200713_150605.webp">
  </a>
  </div>
  <div class="column">
<a href="/images/gallery/vincennes/medium-20200713_150636.webp">
<img  src="/images/gallery/vincennes/medium-20200713_150636.webp">
  </a>
  </div>
  <div class="column">
<a href="/images/gallery/vincennes/medium-20200713_150643.webp">
<img  src="/images/gallery/vincennes/medium-20200713_150643.webp">
  </a>
  </div>
  <div class="column">
<a href="/images/gallery/vincennes/medium-20200713_150707.webp">
<img  src="/images/gallery/vincennes/medium-20200713_150707.webp">
  </a>
  </div>
  <div class="column">
<a href="/images/gallery/vincennes/medium-20200713_150817.webp">
<img  src="/images/gallery/vincennes/medium-20200713_150817.webp">
  </a>
  </div>
  <div class="column">
<a href="/images/gallery/vincennes/medium-20200713_150831.webp">
<img  src="/images/gallery/vincennes/medium-20200713_150831.webp">
  </a>
  </div>
  <div class="column">
<a href="/images/gallery/vincennes/medium-20200713_150853.webp">
<img  src="/images/gallery/vincennes/medium-20200713_150853.webp">
  </a>
  </div>
  <div class="column">
<a href="/images/gallery/vincennes/medium-20200713_150908.webp">
<img  src="/images/gallery/vincennes/medium-20200713_150908.webp">
  </a>
  </div>
  <div class="column">
<a href="/images/gallery/vincennes/medium-20200713_151232.webp">
<img  src="/images/gallery/vincennes/medium-20200713_151232.webp">
  </a>
  </div>
  <div class="column">
<a href="/images/gallery/vincennes/medium-20200713_151245.webp">
<img  src="/images/gallery/vincennes/medium-20200713_151245.webp">
  </a>
  </div>
  <div class="column">
<a href="/images/gallery/vincennes/medium-20200713_151302.webp">
<img  src="/images/gallery/vincennes/medium-20200713_151302.webp">
  </a>
  </div>
  <div class="column">
<a href="/images/gallery/vincennes/medium-20200713_151456.webp">
<img  src="/images/gallery/vincennes/medium-20200713_151456.webp">
  </a>
  </div>
  <div class="column">
<a href="/images/gallery/vincennes/medium-20200713_151514.webp">
<img  src="/images/gallery/vincennes/medium-20200713_151514.webp">
  </a>
  </div>
  <div class="column">
<a href="/images/gallery/vincennes/medium-20200713_151528.webp">
<img  src="/images/gallery/vincennes/medium-20200713_151528.webp">
  </a>
  </div>
  <div class="column">
<a href="/images/gallery/vincennes/medium-20200713_151541.webp">
<img  src="/images/gallery/vincennes/medium-20200713_151541.webp">
  </a>
  </div>
  <div class="column">
<a href="/images/gallery/vincennes/medium-20200713_151607.webp">
<img  src="/images/gallery/vincennes/medium-20200713_151607.webp">
  </a>
  </div>
  <div class="column">
<a href="/images/gallery/vincennes/medium-20200713_151622.webp">
<img  src="/images/gallery/vincennes/medium-20200713_151622.webp">
  </a>
  </div>
  <div class="column">
<a href="/images/gallery/vincennes/medium-20200713_151647.webp">
<img  src="/images/gallery/vincennes/medium-20200713_151647.webp">
  </a>
  </div>
  <div class="column">
<a href="/images/gallery/vincennes/medium-20200713_151655.webp">
<img  src="/images/gallery/vincennes/medium-20200713_151655.webp">
  </a>
  </div>
  <div class="column">
<a href="/images/gallery/vincennes/medium-20200713_151718.webp">
<img  src="/images/gallery/vincennes/medium-20200713_151718.webp">
  </a>
  </div>
  <div class="column">
<a href="/images/gallery/vincennes/medium-20200713_151725.webp">
<img  src="/images/gallery/vincennes/medium-20200713_151725.webp">
  </a>
  </div>
  <div class="column">
<a href="/images/gallery/vincennes/medium-20200713_151738.webp">
<img  src="/images/gallery/vincennes/medium-20200713_151738.webp">
  </a>
  </div>
  <div class="column">


<a  href="/images/gallery/vincennes/medium-20200713_151745.webp">
<img  src="/images/gallery/vincennes/medium-20200713_151745.webp">
  </a>
  </div>
  <div class="column">
<a href="/images/gallery/vincennes/medium-20200713_151816.webp">
<img  src="/images/gallery/vincennes/medium-20200713_151816.webp">
  </a>
  </div>
  <div class="column">
<a href="/images/gallery/vincennes/medium-20200713_151920.webp">
<img  src="/images/gallery/vincennes/medium-20200713_151920.webp">
  </a>
  </div>
  <div class="column">
<a href="/images/gallery/vincennes/medium-20200713_151953.webp">
<img  src="/images/gallery/vincennes/medium-20200713_151953.webp">
  </a>
  </div>
  <div class="column">
<a href="/images/gallery/vincennes/medium-20200713_152017.webp">
<img  src="/images/gallery/vincennes/medium-20200713_152017.webp">
  </a>
  </div>
  <div class="column">
<a href="/images/gallery/vincennes/medium-20200713_152036.webp">
<img  src="/images/gallery/vincennes/medium-20200713_152036.webp">
  </a>
  </div>
  <div class="column">
<a href="/images/gallery/vincennes/medium-20200713_152116.webp">
<img  src="/images/gallery/vincennes/medium-20200713_152116.webp">
  </a>
  </div>
  <div class="column">
<a href="/images/gallery/vincennes/medium-20200713_152130.webp">
<img  src="/images/gallery/vincennes/medium-20200713_152130.webp">
  </a>
  </div>
  <div class="column">
<a href="/images/gallery/vincennes/medium-20200713_152147.webp">
<img  src="/images/gallery/vincennes/medium-20200713_152147.webp">
  </a>
  </div>

  </div>
</div>

</body>
