<center><a href="https://soupault.neocities.org"> <img src="/images/powered_by_soupault_88x31.webp" alt="powered by soupault"/></a>
<img hspace="20"/>
<a href="https://creativecommons.org/licenses/by-sa/4.0/"> <img src="/images/cc-by-sa.webp" alt="creative commons by-sa"/> </a>
</center>
